src/main/resources/entrySchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Entry">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="content">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <!--<xs:length value="1024"/>-->
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="creationDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>